@import url(https://fonts.googleapis.com/css?family=Merriweather);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:500);
@import url(https://fonts.googleapis.com/css?family=Anton);

.App {
  text-align: center;
  padding: 0 10% 0 10%;
  background: url(images/global-bg.png) center ;
  background-color: #E5DDD5;
}

body {
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-flow: column;
  height: 100vh;
}

.frigate {
  position: absolute;
  right: 15rem;
  width: 3rem;
  height: 3rem;
  background: url(./images/friGate.png) center;
  background-size: cover;
  background-color: #0077B9;
  border: 1px solid #2A75A5;
  border-radius: 5px;
}

.frigate:hover {
  background-color: inherit;
  border: 0;
  transition: 0.5s;
}

.header {
  width: 100%;
  height: 6rem;
  background: url(./images/header.png) no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  position: relative;
}

.site__back {
  position: absolute;
  left: 50px;
  display: flex;
  align-items: center;
}

.site__back-title {
  font-size: 2rem;
  color: white;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
}

.site__back-icon {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  background-image: url(./images/arrow_right.svg);
}

.hide {
  display: none;
}

.chatname {
  font-size: 2rem;
  color: white;
  display: flex;
  align-self: center;
  text-transform: uppercase;
  font-family: 'Anton', sans-serif;
  position: absolute;
  left: 53%;
  bottom: 0.5rem;
}

.main__section {
  flex: 1;
  display: flex;
  max-height: 92%;
}

.contacts__heading {
  text-transform: uppercase;
  font-family: 'Merriweather', serif;
  color: white;
  font-size: 2rem;
}

.contacts {
  display: flex;
  background: linear-gradient(180deg, #029137, #54A733);
  height: 100%;
  flex-flow: column;
  width: 20rem;
  overflow-y: scroll;
}

.threads {
  width: 20rem;
  background: linear-gradient(180deg, #005991, #0092DC);
  height: 100%;
  overflow-y: scroll;
}

.chat {
  background-color: #ccf3eb;
  flex: 1;
  height: 100%;
}

.contact, .group {
  margin-top: 0.5rem;
  position: relative;
  font-family: 'Merriweather', serif;
  display: flex;
  align-items: center;
  height: 4rem;
  color: #b7e5df;
  border-radius: 10px;
}

.user__contact {
  height: 4rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  position: absolute;
  left: 20%;
  background-color: #0077B9;
  border: 1px solid #2A75A5;
  border-radius: 10px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.contact::after, .group::after {
  position: absolute;
  bottom: 0;
  content: "";
  width: 70%;
  left: 1rem;
  height: 0.125rem;
  border-radius: 0.0625rem;
  background: #6fc08c;
}

.contact__wrapper {
  display: flex;
  flex-flow: column;
  margin-left: 1rem;
}

.contact__info {
  display: flex;
}

.contact__name {
  color: #b7e5df;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

.user__name {
  font-size: 1.5rem;
  color: white;
}

.contact:hover {
  background-color: #6fc08c;
  border: 1px solid #389938;
  transition: 0.5s;
}

.contact__avatar {
  width: 2rem;
  height: 2rem;
  background: #c9f2e8;
  border-radius: 50%;
}

.contact__phone {
  margin-left: 2rem;
  display: flex;
  color: #b7e5df;
}

.group {
  justify-content: center;
  font-size: 1.5rem;
}

.group:hover {
  background: #66cc66;
  transition: 0.5s;
}

.groups__heading {
  font-family: 'Merriweather', serif;
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
}

.groups__list {
  display: flex;
  flex-flow: column;
}

.chat {
  display: flex;
  flex-flow: column;
}

.messages {
  flex: 1;
  display: flex;
  flex-flow: column;
  overflow-y: scroll;
}

.form {
  display: flex;
  align-self: flex-end;
  height: 7rem;
  width: 100%;
  align-items: center;
  background-color: #afe4d1;
  justify-content: space-evenly;
  border-radius: 10px 10px 0 0;
}

.chat__input {
  margin-left: 0.5rem;
  height: 5rem;
  padding-left: 0.25rem;
  background-color: #ccf3eb;
  width: 40rem;
  border-radius: 10px;
  resize: none;
  font-size: 1.25rem;
}

.chat__input:focus {
  background: white;
  outline: none;
}

.share__button, .submit__button {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
}

.share__button {
  background: url(images/upload.svg) center no-repeat;
  border-radius: 5px;
}

.share__button:hover {
  background-color: #6FC08C;
  transition: 0.5s;
}

.submit__button {
  background: url(images/arrow_submit.svg) center no-repeat;
  border-radius: 50%;
}

.submit__button:hover {
  background-color: #6FC08C;
  transition: 0.5s;
}

.auth {
  color: #B7E5DF;
  position: absolute;
  font-size: 1.5rem;
  right: 3rem;
  font-family: 'Merriweather', serif;
  background-color: #0077B9;
  border: 1px solid #2A75A5;
  border-radius: 5px;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.popup__auth-wrapper {
  position: absolute;
  right: 2rem;
  top: 1.5rem;
}

.auth-done {
  position: none;
}

.auth:hover {
  background-color: inherit;
  border: none;
  transition: 0.5s;
  color: white;
}

.popup, .contact__popup {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: rgba(111, 155, 45, 0.6);
  width: 20rem;
  height: 25rem;
  border-radius: 15px;
  padding-top: 1rem;
}

.popup__modified {
  height: 35rem;
}

.popup__buttons {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.contact__form {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.popup__heading, .contact__popup-heading {
  margin-bottom: 2rem;
}

.contact__popup-heading {
  font-size: 1.25rem;
}

.popup__form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.auth__limit {
  width: 5rem;
  height: 1rem;
  border-radius: 5px;
}

.popup__auth-button, .add__contact-button {
  margin-top: 0.5rem;
  width: 8rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2a75a5;
  color: white;
  border: 1px solid #005991;
  border-radius: 5px;
}

.popup__anon-button {
  background-color: #029137;
}

.popup__auth-button:hover {
  background-color: #005991;
  transition: 0.5s;
}

.popup__anon-button:hover {
  background-color: #349E34;
  transition: 0.5s;
}

.popup-helper, .new__contact-help {
  margin-bottom: 0.5rem;
}

.popup__login, .popup__name, .popup__surname, .popup__call-num, .popup__status, .new__contact-name, .new__contact-surname, .new__contact-userId {
  margin-bottom: 1rem;
  height: 2rem;
  width: 15rem;
  border-radius: 5px;
  padding-left: 0.25rem;
}

.popup-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  opacity: 0.3;
}
.popup-close:hover {
  opacity: 1;
}
.popup-close:before, .popup-close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 2px;
  background-color: #333;
}
.popup-close:before {
  transform: rotate(45deg);
}
.popup-close:after {
  transform: rotate(-45deg);
}

.chat__message {
  width: auto;
  min-width: 10rem;
  max-width: 33rem;
  height: auto;
  border-radius: 10px;
  background: #9bddde;
  padding: 0.5rem 1rem 0.5rem 1rem;
  /* position: relative; */
  font-family: 'Fira Sans', sans-serif;
  margin-top: 2rem;
  align-self: flex-end;
  margin-right: 0.5rem;
}

.chat__message:last-child {
  margin-bottom: 2rem;
}

.other_user-msg {
  background: #99e7c4;
  align-self: flex-start;
  margin-left: 0.5rem;
}

.message__heading {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.sender__name {
  color: #005991;
  margin-right: 0.5rem;
}

.message__body {
  width: 100%;
  display: flex;
}

.message__user-info {
  display: flex;
}

.message__text {
  width: 100%;
  word-wrap: break-word;
  text-align: start;
}

.message__date {
  align-self: flex-end;
  font-size: 0.75rem;
}

.search {
  padding: 1rem;
  width: 95%;
  height: 2rem;
  display: flex;
  justify-content: flex-end;
}

.search__icon {
  width: 2rem;
  height: 2rem;
  background: url(images/magnifier-tool.svg) center no-repeat;
  background-color: #99e7c4;
  border-radius: 0 5px 5px 0;
}

.search__input {
  background-color: #99e7c4;
  color: #005991;
  font-family: 'Fira Sans', sans-serif;
  border-radius: 5px 0 0 5px;
}

.hide {
  width: 0;
  transition: 0.5s;
}

.show {
  width: 94%;
  padding-left: 0.25rem;
  transition: 0.5s;
}

.search__icon:hover {
  background-color: #6fc08c;
}

.search__input:focus {
  background-color: white;
  outline: none;
}